
body{
  background-color: black;
}

div{
  height: 20em;
  position: absolute;
  width: 20em;
}

#box_1{
  background-color: red;
  display: inline-block;
  position: absolute;
}

#box_2{
  background-color: purple;
  display: inline-block;
  height: 13em;
  left: 4em;
  position: absolute;
  top: 4em;
  width: 13em;
}

#box_3{
  background-color: yellow;
  display: inline-block;
  height: 7.5em;
  left: 4em;
  position: absolute;
  top: 4em;
  width: 7.5em;
}
