
body{
  background-color: black;
}

div{
  height: 20em;
  width: 20em;
}

#box_1 {
  background: #ee3e64;
  height: 200px;
  left: 0;
	position: absolute;
	top: 0;
	width: 200px;
}

#box_2 {
  background: #44accf;
  height: 200px;
	position: absolute;
  right: 0;
	top: 0;
	width: 200px;
}

#box_3 {
  background: #b7d84b;
  bottom: 0;
  height: 200px;
  left: 0;
	position: absolute;
	width: 200px;
}

#box_4 {
  background: #ebde52;
  bottom: 0;
  height: 200px;
	position: absolute;
	right: 0;
	width: 200px;	
}
