
body{
  background-color: black;
}

div{
  height: 20em;
  position: absolute;
  width: 20em;
}

#box_1{
  background-color: blue;
  display: inline-block;
  position: absolute;
}

#box_2{
  background-color: green;
  display: inline-block;
  height: 10em;
  left: 5.5em;
  position: absolute;
  top: 5.5em;
  width: 10em;
}

#box_3{
  background-color: black;
  display: inline-block;
  height: 5em;
  position: absolute;
  width: 5em;
}
